body, html {
    padding: 0;
    margin: 0;
}

html{
    background-color: white;
}

.container{
    position: relative;
    background-color: lightgray;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 5pt;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height:100vh;
}

.heading {
    background-color: lightslategrey;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 2.5pt;
    border-bottom: 5pt;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

h1 {
    margin:0;
}

h2{
    margin-top: 8pt;
    margin-bottom: 10pt;
}

.add-reminder > * {
    display: inline-block;
    padding: 4pt;
}

#reminder-input {
    text-align: left;
    width: 60vw;
}

.button{
    width: 10vw;
}

.break{
    padding: 6pt;
}

ul.todo-items{
    -webkit-margin-before:0;
    -webkit-padding-start: 0;
}

li{
    text-align: left;
    background-color: rgb(190, 190, 190);
    border-bottom-color: rgb(97, 97, 97);
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-top-color: rgb(97, 97, 97);
    border-top-style: solid;
    border-top-width: 0.5pt;
    list-style: none;
    position: relative;
    padding: 8px;
    padding-left:30px;
}

ul.todo-items li:nth-child(odd) {
    background: #f9f9f9;
}
ul.todo-items li:hover{
    background-color: lightblue;
}

ul.todo-items li.item-complete{
    text-decoration: line-through;
    color: green;
    background-color: rgb(192, 228, 192);
}

.item-complete:before {
    content:'✓';
    display:inline-block;
    vertical-align: top;
    line-height: 1em;
    width: 1em;
    height:1em;
    margin-right: 0.3em;
    text-align: center;
    color:green;
  }

.delete-button {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 36px;
}

.delete-button:hover {
    background-color:darkgrey;
}

footer {
    position: absolute;
    background-color: lightslategrey;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 8px;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 3em;
    border-bottom: 5pt;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}